.progress {
  position: relative;
  height: 31px;
  background: rgb(255, 255, 255);
}
.amount {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transition: all 0.8s;
  background: gray;
  width: 0;
}
.progress:before {
  content: attr(data-amount)" ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4.17;
  text-align: center;
  line-height: 31px;
}

.Comfort {
  background-color: #D3D3D3;
}

.Standby {

  background-color: #A9A9A9;
}

.Eco {

  background-color: #154360 ;
}

.empty {
  background-color: #ffffff;
}

ol {
  margin: 0;
  padding: 0;
  counter-reset: list-c;
}
ol li {
  display: inline-block;
  counter-increment: list-c;
  width: 3.85%;
  position: relative;
}

.mainsection {

  padding-top: 50px;

}
input[type=text], textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button {
    margin-top: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}


input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 50x;
}